![logo_ironhack_blue 7](https://user-images.githubusercontent.com/23629340/40541063-a07a0a8a-601a-11e8-91b5-2f13e4e6b441.png)

# Lab | Cleaning categorical data

For this lab, we will be using the dataset in the Customer Analysis Business Case. This dataset can be found in `files_for_lab` folder. In this lab we will explore categorical data.

## Instructions

### 1. Import the necessary libraries if you are starting a new notebook.
Using the same data as the previous lab: we_fn_use_c_marketing_customer_value_analysis.csv

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from functions import lowercase_cols
import re

In [2]:
customer = pd.read_csv("customer.csv")
customer = customer.drop(columns = customer.columns[0], axis = 1)
customer

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employment_status,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2011-02-24,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2011-02-19,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
2,WW63253,California,7645.861827,No,Basic,Bachelor,2011-01-20,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
3,HB64268,Washington,2813.692575,No,Basic,Bachelor,2011-02-03,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
4,OC83172,Oregon,8256.297800,Yes,Basic,Bachelor,2011-01-25,Employed,F,62902,...,94,0,2,Personal Auto,Personal L3,Offer2,Web,159.383042,Two-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7977,YM19146,California,4100.398533,No,Premium,College,2011-01-06,Employed,F,47761,...,58,0,1,Personal Auto,Personal L2,Offer1,Branch,541.282007,Four-Door Car,Large
7978,PK87824,California,3096.511217,Yes,Extended,College,2011-02-12,Employed,F,21604,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
7979,TD14365,California,8163.890428,No,Extended,Bachelor,2011-02-06,Unemployed,M,0,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
7980,UP19263,California,7524.442436,No,Extended,College,2011-02-03,Employed,M,21941,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
7981,Y167826,California,2611.836866,No,Extended,College,2011-02-14,Unemployed,M,0,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

### 2. Find  all of the categorical data.

Save it in a categorical_df variable.

In [3]:
categorical_df = customer.select_dtypes("object")
categorical_df

,customer,state,response,coverage,education,effective_to_date,employment_status,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,BU79786,Washington,No,Basic,Bachelor,2011-02-24,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,AI49188,Nevada,No,Premium,Bachelor,2011-02-19,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
2,WW63253,California,No,Basic,Bachelor,2011-01-20,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
3,HB64268,Washington,No,Basic,Bachelor,2011-02-03,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize
4,OC83172,Oregon,Yes,Basic,Bachelor,2011-01-25,Employed,F,Rural,Married,Personal Auto,Personal L3,Offer2,Web,Two-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7977,YM19146,California,No,Premium,College,2011-01-06,Employed,F,Suburban,Single,Personal Auto,Personal L2,Offer1,Branch,Four-Door Car,Large
7978,PK87824,California,Yes,Extended,College,2011-02-12,Employed,F,Suburban,Divorced,Corporate Auto,Corporate L3,Offer1,Branch,Four-Door Car,Medsize
7979,TD14365,California,No,Extended,Bachelor,2011-02-06,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L2,Offer1,Branch,Four-Door Car,Medsize
7980,UP19263,California,No,Extended,College,2011-02-03,Employed,M,Suburban,Married,Personal Auto,Personal L2,Offer3,Branch,Four-Door Car,Large
7981,Y167826,California,No,Extended,College,2011-02-14,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize

### 3. Check for NaN values.

In [4]:
categorical_df.isna().sum()

customer             0
state                0
response             0
coverage             0
education            0
effective_to_date    0
employment_status    0
gender               0
location_code        0
marital_status       0
policy_type          0
policy               0
renew_offer_type     0
sales_channel        0
vehicle_class        0
vehicle_size         0
dtype: int64

### 4. Check all unique values of columns.

In [5]:
for col in categorical_df:
    print(col, "-", categorical_df[col].unique())

customer - ['BU79786' 'AI49188' 'WW63253' ... 'TD14365' 'UP19263' 'Y167826']
state - ['Washington' 'Nevada' 'California' 'Oregon' 'Arizona']
response - ['No' 'Yes']
coverage - ['Basic' 'Premium' 'Extended']
education - ['Bachelor' 'College' 'Master' 'High School or Below' 'Doctor']
effective_to_date - ['2011-02-24' '2011-02-19' '2011-01-20' '2011-02-03' '2011-01-25'
 '2011-01-18' '2011-02-17' '2011-02-21' '2011-01-06' '2011-02-06'
 '2011-01-10' '2011-01-17' '2011-01-05' '2011-02-27' '2011-01-14'
 '2011-01-21' '2011-02-05' '2011-01-29' '2011-02-28' '2011-02-12'
 '2011-02-02' '2011-02-07' '2011-02-13' '2011-01-15' '2011-01-08'
 '2011-01-11' '2011-01-28' '2011-02-08' '2011-02-23' '2011-01-31'
 '2011-01-02' '2011-02-16' '2011-01-22' '2011-01-23' '2011-01-26'
 '2011-01-27' '2011-01-09' '2011-02-11' '2011-02-01' '2011-02-15'
 '2011-02-26' '2011-01-16' '2011-01-01' '2011-02-10' '2011-01-24'
 '2011-02-25' '2011-01-12' '2011-02-09' '2011-01-19' '2011-01-04'
 '2011-02-14' '2011-02-20' '2011-02-18' '2011-01-13' '2011-01-03'
 '2011-02-04' '2011-01-30' '2011-02-22' '2011-01-07']
employment_status - ['Employed' 'Unemployed' 'Medical Leave' 'Disabled' 'Retired']
gender - ['F' 'M']
location_code - ['Suburban' 'Rural' 'Urban']
marital_status - ['Married' 'Single' 'Divorced']
policy_type - ['Corporate Auto' 'Personal Auto' 'Special Auto']
policy - ['Corporate L3' 'Personal L3' 'Corporate L2' 'Personal L1' 'Special L2'
 'Corporate L1' 'Personal L2' 'Special L1' 'Special L3']
renew_offer_type - ['Offer1' 'Offer2' 'Offer4' 'Offer3']
sales_channel - ['Agent' 'Call Center' 'Web' 'Branch']
vehicle_class - ['Two-Door Car' 'SUV' 'Four-Door Car' 'Sports Car' 'Luxury SUV'
 'Luxury Car']
vehicle_size - ['Medsize' 'Small' 'Large']

### 5. Check dtypes.

Do they all make sense as categorical data?

In [6]:
categorical_df.dtypes

customer             object
state                object
response             object
coverage             object
education            object
effective_to_date    object
employment_status    object
gender               object
location_code        object
marital_status       object
policy_type          object
policy               object
renew_offer_type     object
sales_channel        object
vehicle_class        object
vehicle_size         object
dtype: object

No, effective to date should be Datetime

In [7]:
categorical_df['effective_to_date'] = pd.to_datetime(categorical_df['effective_to_date']).dt.to_period('m')
categorical_df["effective_to_date"]

0       2011-02
1       2011-02
2       2011-01
3       2011-02
4       2011-01
         ...
7977    2011-01
7978    2011-02
7979    2011-02
7980    2011-02
7981    2011-02
Name: effective_to_date, Length: 7982, dtype: period[M]

Here we also set the date to a Year-Month format to group the date in only two values

In [8]:
categorical_df["effective_to_date"].value_counts()

2011-01    4270
2011-02    3712
Freq: M, Name: effective_to_date, dtype: int64

### 6. Does any column contain alpha and numeric data?

Decide how to clean it.

The only one that we could clean would be `renew_offer_type`, it looks like an ordinal categorical column, so we are going to get rid of the "Offer" part and just leave the numbers.

In [9]:
categorical_df["renew_offer_type"] = categorical_df["renew_offer_type"].str.strip("Offer")
categorical_df["renew_offer_type"].value_counts()

1    3206
2    2604
3    1246
4     926
Name: renew_offer_type, dtype: int64

### 7. Would you choose to do anything else to clean or wrangle the categorical data?

Comment your decisions.

In [10]:
# Let's chechk the values

for col in categorical_df:
    print(categorical_df[col].value_counts())
    print("\n")

BU79786    1
DG23204    1
FT79229    1
XF94560    1
PD22502    1
          ..
YP67379    1
EW46828    1
YA12007    1
FQ24929    1
Y167826    1
Name: customer, Length: 7982, dtype: int64


California    2743
Oregon        2271
Arizona       1507
Nevada         766
Washington     695
Name: state, dtype: int64


No     6836
Yes    1146
Name: response, dtype: int64


Basic       5025
Extended    2347
Premium      610
Name: coverage, dtype: int64


Bachelor                2395
College                 2378
High School or Below    2234
Master                   660
Doctor                   315
Name: education, dtype: int64


2011-01    4270
2011-02    3712
Freq: M, Name: effective_to_date, dtype: int64


Employed         5088
Unemployed       1907
Medical Leave     378
Disabled          358
Retired           251
Name: employment_status, dtype: int64


F    4079
M    3903
Name: gender, dtype: int64


Suburban    4920
Rural       1616
Urban       1446
Name: location_code, dtype: int64


Married     4743
Single      2049
Divorced    1190
Name: marital_status, dtype: int64


Personal Auto     5936
Corporate Auto    1729
Special Auto       317
Name: policy_type, dtype: int64


Personal L3     2992
Personal L2     1856
Personal L1     1088
Corporate L3     893
Corporate L2     528
Corporate L1     308
Special L2       142
Special L3       122
Special L1        53
Name: policy, dtype: int64


1    3206
2    2604
3    1246
4     926
Name: renew_offer_type, dtype: int64


Agent          3028
Branch         2235
Call Center    1559
Web            1160
Name: sales_channel, dtype: int64


Four-Door Car    4290
Two-Door Car     1753
SUV              1461
Sports Car        385
Luxury SUV         47
Luxury Car         46
Name: vehicle_class, dtype: int64


Medsize    5619
Small      1529
Large       834
Name: vehicle_size, dtype: int64

We will take care of the `education`, `employment_status`, `policy_type`, `policy` below by grouping and cleaning redundancies.

There is also a case where we would clean the `vehicle_class` column, grouping:
- "Four-Door Car" with "Luxury Car"
- "Two-Door Car" with "Sports Car"
- "SUV" with "Luxury SUV"

But this would depend on the purpose of our analysis.

A more conservative approach would be to group the three lowes count values together in a "High-end" group.

In [11]:
categorical_df["vehicle_class"] = np.where(categorical_df["vehicle_class"].isin(["Luxury Car", "Sports Car", "Luxury SUV"]), "High-end", categorical_df["vehicle_class"])
categorical_df["vehicle_class"].value_counts()

Four-Door Car    4290
Two-Door Car     1753
SUV              1461
High-end          478
Name: vehicle_class, dtype: int64

### 8. Compare policy_type and policy.

What information is contained in these columns.

Can you identify what is important?

In [12]:
categorical_df["policy_type"].value_counts()

Personal Auto     5936
Corporate Auto    1729
Special Auto       317
Name: policy_type, dtype: int64

In [13]:
categorical_df["policy"].value_counts()

Personal L3     2992
Personal L2     1856
Personal L1     1088
Corporate L3     893
Corporate L2     528
Corporate L1     308
Special L2       142
Special L3       122
Special L1        53
Name: policy, dtype: int64

There is a lot of duplicate data in these columns, "Auto" is a redundant word for the `policy_type` and in the `policy` column we only need L1-3 information

In [14]:
categorical_df["policy_type"] = categorical_df["policy_type"].str.strip("Auto")
categorical_df["policy_type"].value_counts()

Personal      5936
Corporate     1729
Special        317
Name: policy_type, dtype: int64

In [15]:
def last_two(x):
    x = x[-2:]
    return x

categorical_df["policy"] = categorical_df["policy"].apply(last_two)
categorical_df["policy"].value_counts()

L3    4007
L2    2526
L1    1449
Name: policy, dtype: int64

### 9. Check number of unique values in each column.

Can they be combined in any way to ease encoding?

Comment your thoughts and make those changes.

In [16]:
for col in categorical_df:
    print(col, "-", categorical_df[col].nunique())

customer - 7982
state - 5
response - 2
coverage - 3
education - 5
effective_to_date - 2
employment_status - 5
gender - 2
location_code - 3
marital_status - 3
policy_type - 3
policy - 3
renew_offer_type - 4
sales_channel - 4
vehicle_class - 4
vehicle_size - 3

"Master" and "Doctor" can be grouped in a common Postgraduate group.

In [17]:
categorical_df["education"].value_counts()

Bachelor                2395
College                 2378
High School or Below    2234
Master                   660
Doctor                   315
Name: education, dtype: int64

In [18]:
categorical_df["education"] = np.where(categorical_df["education"].isin(["Master", "Doctor"]), "Postgraduate", categorical_df["education"])
categorical_df["education"].value_counts()

Bachelor                2395
College                 2378
High School or Below    2234
Postgraduate             975
Name: education, dtype: int64

"Medical Leave", "Disabled", "Retired" can also be grouped to an "Excempt" group.

In [19]:
categorical_df["employment_status"].value_counts()

Employed         5088
Unemployed       1907
Medical Leave     378
Disabled          358
Retired           251
Name: employment_status, dtype: int64

In [20]:
categorical_df["employment_status"] = np.where(categorical_df["employment_status"].isin(["Medical Leave", "Disabled", "Retired"]), "Excempt", categorical_df["employment_status"])
categorical_df["employment_status"].value_counts()

Employed      5088
Unemployed    1907
Excempt        987
Name: employment_status, dtype: int64

In [21]:
for col in categorical_df:
    print(col, "-", categorical_df[col].nunique())

customer - 7982
state - 5
response - 2
coverage - 3
education - 4
effective_to_date - 2
employment_status - 3
gender - 2
location_code - 3
marital_status - 3
policy_type - 3
policy - 3
renew_offer_type - 4
sales_channel - 4
vehicle_class - 4
vehicle_size - 3

We reduced a lot the number of variables, lest update our main DataFrame and export it

In [22]:
customer[["education", "effective_to_date", "employment_status", "policy_type", "policy", "renew_offer_type", "vehicle_class"]] = categorical_df[["education", "effective_to_date", "employment_status", "policy_type", "policy", "renew_offer_type", "vehicle_class"]]

In [23]:
customer.head(10)

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employment_status,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2011-02,Employed,F,56274,...,5,0,1,Corporate,L3,1,Agent,384.811147,Two-Door Car,Medsize
1,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2011-02,Employed,F,48767,...,38,0,2,Personal,L3,1,Agent,566.472247,Two-Door Car,Medsize
2,WW63253,California,7645.861827,No,Basic,Bachelor,2011-01,Unemployed,M,0,...,65,0,7,Corporate,L2,1,Call Center,529.881344,SUV,Medsize
3,HB64268,Washington,2813.692575,No,Basic,Bachelor,2011-02,Employed,M,43836,...,44,0,1,Personal,L1,1,Agent,138.130879,Four-Door Car,Medsize
4,OC83172,Oregon,8256.297800,Yes,Basic,Bachelor,2011-01,Employed,F,62902,...,94,0,2,Personal,L3,2,Web,159.383042,Two-Door Car,Medsize
5,XZ87318,Oregon,5380.898636,Yes,Basic,College,2011-02,Employed,F,55350,...,13,0,9,Corporate,L3,1,Agent,321.600000,Four-Door Car,Medsize
6,CF85061,Arizona,7216.100311,No,Premium,Postgraduate,2011-01,Unemployed,M,0,...,68,0,4,Corporate,L3,1,Agent,363.029680,Four-Door Car,Medsize
7,BQ94931,Oregon,7388.178085,No,Extended,College,2011-02,Employed,F,28812,...,7,0,8,Special,L2,2,Branch,425.527834,Four-Door Car,Medsize
8,SX51350,California,4738.992022,No,Basic,College,2011-02,Unemployed,M,0,...,5,0,3,Personal,L3,1,Agent,482.400000,Four-Door Car,Small
9,VQ65197,California,8197.197078,No,Basic,College,2011-01,Unemployed,F,0,...,87,0,3,Personal,L3,2,Agent,528.000000,SUV,Medsize

In [24]:
customer.to_csv("customer_clean.csv", index = False)